[submodule "src/create3_sim"]
	path = src/create3_sim
	url = https://github.com/iRobotEducation/create3_sim.git
[submodule "src/navigation2"]
	path = src/navigation2
	url = https://github.com/ros-planning/navigation2.git
[submodule "src/roomba-rpi"]
	path = src/roomba-rpi
	url = https://github.com/process1183/roomba-rpi.git
[submodule "src/roomba-ros2"]
	path = src/roomba-ros2
	url = https://github.com/process1183/roomba-ros2.git
